.about {
    height: 116vh;
    background: url(../../img/bg-about.jpg) no-repeat center center fixed;
}

.about p {
    color: white;
    font-size: 5vw;
    font-weight: bold;
    line-height: 4.5vw;
}

.about p span {
    color: rgb(37, 223, 20);
}

.about-name {
    font-size: 8vw !important;
    line-height: 9vw;
}

.about-name span {
    color: rgb(21, 255, 0) !important;
}
