#log-in {
    height: 100vh;
    background: url(../../img/bg-logIn.jpg) no-repeat center center fixed;
}

.log-in {
    position: fixed;
    margin: 0 auto;
}

.log-in form {
    margin: 0 auto;
    border-radius: 8px;
    background-color: var(--logIn-bg-color);
}

button[disabled] {
    background-color: var(--color-btn-disabled) !important;
    border-color: var(--color-btn-disabled) !important;
}

/* this is to do the trick for 'type='password' not working */
#password {
    -webkit-text-security: disc;
    -text-security: disc;
}

#user {
    background: url("../../img/user-icon.png") no-repeat 10px 8px;
    background-size: 18px 18px;
}

#password {
    background: url("../../img/lock-icon.png") no-repeat 10px 8px;
    background-size: 18px 18px;
}
.form-group input,
.form-group textarea {
    padding-left: 35px;
}
