.addProject {
    height: 90vh;
    background-color: var(--addProject-bg-color);
    padding-top: 25px;
    top: 5rem;
    margin: 0 auto;
}

#addProject-form {
    background-color: var(--color-1);
    cursor: auto;
    margin: 0 auto;
    border-radius: 8px;
}

#name {
    background: url("../../img/name-icon.png") no-repeat 10px 8px;
    background-size: 18px 18px;
}

#technology {
    background: url("../../img/technology-icon.png") no-repeat 10px 8px;
    background-size: 18px 18px;
    padding-left: 35px;
}

#date {
    background: url("../../img/date-icon.png") no-repeat 10px 8px;
    background-size: 18px 18px;
}
#addProject-form > div:nth-child(3) > div {
    display: block !important;
}

#description {
    background: url("../../img/description-icon.png") no-repeat 10px 8px;
    background-size: 18px 18px;
}

#link {
    background: url("../../img/link-icon.png") no-repeat 10px 8px;
    background-size: 18px 18px;
}

#imgB,
#imgS {
    background: url("../../img/img-icon.png") no-repeat 10px 8px;
    background-size: 18px 18px;
}
