.contact {
    height: 100vh;
    background-repeat: repeat;
    background: rgb(131, 58, 180);
    background: linear-gradient(
        90deg,
        rgba(131, 58, 180, 1) 14%,
        rgba(253, 29, 29, 1) 51%,
        rgba(252, 199, 69, 1) 81%
    );
}
