header {
    margin: 0 auto;
    text-align: center;
    padding-top: 300px;
    color: var(--color-3);
    height: 100vh;
    background-image: url("../../img/bg-mastHead.jpg");
    background-size: cover;
}

header h1 {
    margin: 0;
    font-size: 4rem;
}

header p {
    font-size: 1.75rem;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 30px;
}
