.home {
    margin: 0 auto;
    text-align: center;
    color: var(--color-3);
    height: 100vh;
    background-image: url("../../img/bg-home.jpg");
    background-size: cover;
}

.home h1 {
    margin: 0;
    color: rgb(33, 6, 155);
    font-size: 5vw !important;
    font-weight: bold;
}

.home p {
    font-size: 3.5vw;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 30px;
}
