.footer {
    height: 5vh;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 16px;
    color: var(--color-1);
    background-color: var(--nav-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.footer a {
    font-size: 17px;
    text-decoration: none;
    color: var(--color-1);
}
