:root {
    --nav-bg-color: rgb(73, 79, 82);
    --color-1: #fff;
    --color-2: yellow;
}

.App {
    text-align: center;
    box-sizing: border-box;
}

footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}
