.portfolio {
    height: 100vh;
    background-image: url("../../img/bg-portfolio.jpg");
    background-repeat: repeat;
}

/* button.btn {
    background-color: var(--nav-bg-color);
} */

button.btn a {
    text-decoration: none;
    color: var(--color-1);
}
.card {
    height: 100%;
}
